
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>flask forum</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css')}}">
</head>

<body>


  <div id="title_box">
    <p id="title">
flask forum
    </p>
  </div>

<div id="presentation_box">
  <p id="presentation">
   flask forum presentation
  </p>
  
</div>

<div id="register_box">
  <p>
  <form autocomplete="on" action="api/register" method="post" id="send_form">
  <label id="username_label">Username : </label>
  <input type="text" name="username" id="username" autocomplete=“false” required><br>
  <label id="password_label">Password : </label>
  <input type="password" name="password" id="password" autocomplete="false" required><br>
  <input id="submit_button" type="submit" value="Register"/>
</div>
  </p>
</div>

<div>

</div>


</body>

</html>
		
